body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.number {
    background-color: #4CAF50;
    color: #fff;
}

.operator {
    background-color: #337ab7;
    color: #fff;
}

.clear {
    background-color: #f0ad4e;
    color: #fff;
}

button:hover {
    background-color: #555;
    color: #fff;
}
